[submodule "frontend"]
	path = frontend
	url = https://github.com/crisstiank1/liverpool-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/crisstiank1/liverpool-backend
[submodule "database"]
	path = database
	url = https://github.com/Emmasu7/liverpool-db.git
